<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <h1>Login </h1>
    <form action="" method="post">
        <br>
        <br>
        <label for="email">Email :</label>
        <input type="email" placeholder="enter your email" name="email" id="email">
        <br>
        <br>
        <label for="password">Password :</label>
        <input type="password" name="password" id="password" placeholder="enter your password">
        <br>
        <br>
        <button type="submit">Login</button>
        <br>
        <hr>
        <br>
        <p>if you dont have an account <a href="/users/register">Sign up</a></p>
    </form>
    <% if (error) { %>
  <script>
    alert("<%= error %>");
  </script>
<% } %>

</body>
</html>
